<script src="https://maps.googleapis.com/maps/api/js?key=#{ENV[maps_key]}&libraries=visualization&sensor=true_or_false"></script>
  <div id="map-canvas"></div>
    <div id="panel">
        <div class="row">
          <div class="col-md-8">
            <div id="slider"><label for="hour"><h6>Time of day (in hours):</h6></label><input type="text" id="hour" readonly></div>
          </div>
        </div>  
    </div>
  </div>
